.container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: 100vh;
}

.headbar {
    width: 100%;
    height: 80px;
    font: 12px white;
    display: flex;
    justify-content: flex-end;
}

.button {
    background-color: gray;
    align-content: center;
    text-align: center;
    margin: 10px;
    width: 70px;
    height: 30px;
}

.title {
    font-size: 30px;
    font-weight: bolder;
    margin-top: 120px;
}

a {
    font: white;
}

.typein {
    width: 250px;
    height: 25px;
}

.search {
    margin-top: 80px;
}

.change-color {
    width: 58px;
    height: 30px;
    margin-left: 5px;
}